@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);

._form_style {
  input {
    &[type="text"], &[type="email"], &[type="tel"], &[type="url"] {
      font: 400 16px/18px "Roboto", Helvetica, Arial, sans-serif;
    }
  }
  textarea, select, button[type="submit"], button {
    font: 400 16px/18px "Roboto", Helvetica, Arial, sans-serif;
  }
  background: #F9F9F9;
  padding: 25px;
  margin: 150px auto 0 auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  z-index: 1;
  max-width: 720px;
  width: 100%;
  input {
    &[type="text"]:hover, &[type="email"]:hover, &[type="tel"]:hover, &[type="url"]:hover {
      -webkit-transition: border-color 0.3s ease-in-out;
      -moz-transition: border-color 0.3s ease-in-out;
      transition: border-color 0.3s ease-in-out;
      border: 1px solid #aaa;
    }
  }
  select:hover, textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
  }
}

._field_style {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 10px;
  width: 100%;
}

._form_style {
  textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
  }
  button[type="submit"] {
    cursor: pointer;
    width: 50%;
    border: none;
    background: #4CAF50;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
    &:hover {
      background: #43A047;
      -webkit-transition: background 0.3s ease-in-out;
      -moz-transition: background 0.3s ease-in-out;
      transition: background-color 0.3s ease-in-out;
    }
    &:active {
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
    }
  }
  button {
    cursor: pointer;
    width: 50%;
    border: none;
    background: rgb(255, 187, 0);
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
    &:hover {
      background: #43A047;
      -webkit-transition: background 0.3s ease-in-out;
      -moz-transition: background 0.3s ease-in-out;
      transition: background-color 0.3s ease-in-out;
    }
    &:active {
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
    }
  }
  input:focus, textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
  }
  h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
    color: #4d4d4d
  }
}